services:
  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules

  backend: 
    build: 
      context: .
      dockerfile: backend/Dockerfile
    ports: 
      - "8000:8000"
    volumes:
      - ./backend:/app/backend 
      - ./data:/app/data